body{
	background-color: white;
	color: black;
}

h1{
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center; 
} 

.btn {
	display:inline-block;
	/*text-align: left;*/
	/*float: left; */	
}
#photo{
	width: 30%;
	float: left; 
	margin-left: 10px;
	margin-right: 10px; 
}

#waiting{
	width: 30%;
	float: left;
	box-sizing: border-box;
} 

button {
	color: black;
	border: 2px solid grey; 
	margin: 5px;
	width: 200px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}
/*
.panel-body {
	width: 30%;
	float: right;
	box-sizing: border-box;	
} */
/*
.panel-body {
	text-align: left;
	 width:300px; 
  } */

#devoured, .panel-body {
	display:inline-block;
	/*text-align: left;*/
	/*float: left; */
}
/*
#add-to-list{
	width: 100%;
	float: left;
} */

#inputbox{
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}